html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
}
::-webkit-scrollbar{
    width: 10px;
    left: -30px;
}
::-webkit-scrollbar-track{
    background-color: rgb(0, 0, 0);
}
::-webkit-scrollbar-thumb{
    background-color: rgb(255, 255, 255);
}
.navbar{
    width: calc(100% - 10px);
    height: 40px;
    padding: 10px;
    background-color: rgba(172, 172, 172, 0);
    color: white;
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    transition-duration: 0.25s;
}
.botbtn{
    position: fixed;
    bottom: 10px;
    right: 10px;
    border: 0px solid;
    color: black;
    backdrop-filter: blur(5px);
    background-color: #ffffff88;
    font-weight: bold;
    font-size: 20px;
    border-radius: 200px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 5px black;
    transition-duration: 0.5s;
    z-index: 100;
}
@media (hover:hover){
    .botbtn:hover{
        background-color: rgb(127, 135, 3);
    }
}
.botbtn:active{
    background-color: black;
}
.botdiv{
    z-index: 100;
    width: 100%;
    height: 100%;
    color: white;
    background-color: rgba(10, 10, 10, 0.803);
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 10px black;
}
#botwin{
    display: none;
}
.botesc{
    background-color: transparent;
    border: 0px solid;
    color: white;
    font-size: 120%;
}
.botmsg{
    max-width: 50%;
    background-image: linear-gradient(45deg, rgb(205, 50, 26), rgb(255, 102, 0));
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    padding: 10px;
    margin: 20px;
    border-radius: 0px 10px 10px 10px;
    color: black;
    font-weight: bold;
}
.usermsg{
    max-width: 50%;
    background-image: linear-gradient(45deg, rgb(211, 255, 35), rgb(255, 149, 0));
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: self-end;
    padding: 10px;
    margin: 20px;
    border-radius: 10px 10px 0px 10px;
    color: black;
    font-weight: bold;
}
.info{
    width: calc(100% - 20px);
    height: 40px;
    padding: 10px;
    background-color: rgb(30, 30, 30);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.msgarea{
    min-width: 100%;
    min-height: 80%;
    background-color: rgba(0, 0, 0, 0.301);
    display: flex;
    flex-direction: column;
    overflow: auto;
}
.inparea{
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    background-color: rgb(30, 30, 30);
    padding: 10px;
    display: flex;
}
.txtinp{
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    background-color: rgb(18, 18, 18);
    border: 0px solid;
    padding: 5px;
    font-size: 20px;
    color: rgb(203, 203, 203);
    outline: 0px solid;
}
#togmenu{
    cursor: pointer;
}
li, a{
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    padding: 5px 10px 5px 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition-duration: 0.32s;
    border-radius: 5px;
    color: inherit;
    background-color: #00000000;
    
}
@media (hover:hover){
    li:hover{
        background: rgb(233, 76, 19);
    }
}
li:active{
    background-color: black;
    color: white;
}
div{
    scroll-snap-type: mandatory;
    scroll-snap-stop: always;
}
.home{
    width: 100%;
    min-height: 100%;
    background-image: linear-gradient(rgb(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("img/firetrees.jpg");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}
.searchbar{
    padding-left: 0px;
    border-radius: 0px;
    background-color: white;
    display: flex;
    align-items: center;

}
.searchmain{
    width: 80%;
    height: 100%;
    padding: 10px;
    display: none;
    border: 0px solid;
    outline: 0;
}
.searchbutton{
    height: 100%;
    padding: 1px;
    background-color: rgb(30, 30, 30);
    color: white;
    border: 0px solid;
}
.searchbuttoncl{
    height: 100%;
    padding: 10px;
    background-color: rgb(42, 195, 0);
    display: none;
    font-size: 16px;
    color: white;
    border: 0px solid;
}
.about{
    width: 100%;
    min-height: 100%;
    background-color: #e0e0e0;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    overflow: auto
}
.aboutheading{
    text-align: center;
    margin: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
}
.aboutdescription{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    white-space: pre-line;
    font-size: 20px;
    text-align: justify;
    color: rgb(26, 26, 26);
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.centercontainer{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.fixed{
    position: fixed;
}
.menu{
    height: 100%;
    min-width: 100%;
    position: fixed;
    transition-duration: 1s;
    background-color: #101010;
    color: white;
    left: -10000px;
    top: 60px;
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.invisbutton{
    font-size: 20px;
    background-color: transparent;
    border: 0px solid;
    color: white;
}
body {

	font-family: "Quicksand", sans-serif;
	background: #101010;
	color: #fff;
}

.contact{

    width: 100%;
    min-height: 100%;
    background-color: black;
    color: white;
    background-image: linear-gradient(rgb(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("img/telephone.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

section{

	min-height: 100vh;
	width: 80%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.title {

	font-size: 3rem;
	margin: 2rem 0rem;
}

b{  
    margin: 20px;
    margin-left: 0px;
    text-align: left;
    color: #000000;
}

.coptions{

    background-color: rgb(15, 15, 15);
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

.headingc{
    font-size: 20px;
    font-weight: bold;
}

.faq {

	max-width: 700px;
	margin-top: 2rem;
	padding-bottom: 1rem;
	border-bottom: 2px solid #fff;
	cursor:  pointer;
    
}

.question{

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.question h3{

	font-size: 1.8rem;
}


.answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;
}

.answer p {

	padding-top: 1rem;
	line-height: 1.6;
	font-size: 1.4rem;
}

.faq .question svg {
    transition: transform 0.3s ease;
}

.faq.active .answer {
	max-height: 300px;
	animation: fade 1s ease-in-out;
}

.faq.active .question svg {
	transform: rotate(180deg);
}

svg{
	transition: tranform 0.5s ease-in;
    margin: 10px;
}

@keyframes fade {

	from{

		opacity: 0;
		transform: translateY(-10px);

	}

	to{

		opacity: 1;
		transform: translateY(0px);
	}
}
@media (max-width: 850px){
    #donsec{
        display: none;
    }
}
@media (max-width: 738px) {
    #gamesec{
        display: none;
    }
}
@media (max-width: 650px) {
    #consec{
        display: none;
    }
}

@media (max-width: 584px) {
    #faqsec{
        display: none;
    }
}

@media (max-width: 509px) {
    #aboutsec{
        display: none;
    }
}

@media (max-width: 418px) {
    #homesec{
        display: none;
    }
}